.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 10rem;
    height: 3rem;
}
.header-menu{
    list-style: none;
    /* list style none korlam jate dot ta remove hoye */
    display: flex;
    gap:2rem;
    color: white;


}
.header-menu>li:hover{
    color: var(--orange);
    cursor: pointer;
}